@charset "UTF-8";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
}

a {
  font-size: 14px;
  font-weight: bold;
  font-family: Noto Sans JP;
  text-decoration: none;
  color: #707070;
  cursor: pointer;
}

h2 {
  font-family: Noto Sans JP;
  font-size: 20px;
  font-weight: bold;
  color: #707070;
}

p {
  font-family: Noto Sans JP;
  font-size: 16px;
  color: #707070;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container {
  width: 1080px;
  margin: 0 auto;
}

.list{
  display: flex
}

.list:hover{
  text-decoration: underline;
  
}

.list::before{
  content: url(img/一覧はこちら.png);
  padding-right: 18px;
  
}

.contents-title{
  color: #33CB33;
  align-items: center;
  display: flex
}

/*header*/

.header {
  padding: 36px 0 0;
}

.header-title,
.company-contents {
  display: flex;
  justify-content: space-between;
  margin-bottom: 35px;
}

.header-logo-img,
.company-logo-img {
  width: 56px;
  height: 56px;
}

.header-logo,
.company-logo {
  display: flex;
  align-items: center;
}

.header-logo-link::after {
  content: url(img/other_window_icon.png);
  padding-left: 30px;
}

.header-logo-link:hover{
  text-decoration: underline;
}

.header-logo-txt,
.company-logo-txt {
  margin-left: 20px;
}

.sns {
  display: flex;
  align-items: center;
}

.sns ul {
  display: flex;
  gap: 8px;
  padding: 0;
}

.sns-item:last-child {
  border-right: 1px solid #707070;
  padding-right: 25px;
}

.sns-item:hover {
  opacity: 0.7;
}

.header-nav ul {
  display: flex;
}

.header-nav-item {
  width: calc(100% / 7);
  margin-bottom: 23px;
}

.header-nav-link {
  border-top: 1px solid #d2d2d2;
  text-align: center;
  display: block;
  padding-top: 24px;
}

.header-nav-link.active {
  border-color: #33CB33;
  color: #33CB33;
}

/*slide*/

.slide ul {
  overflow-x: scroll;
  display: flex;
  padding: 0 0 64px;
  gap: 56px;
}

.slide li {
  display: block;
  min-width: 512px;
}

.slide-img {
  width: 511px;
  height: 276px;
  object-fit: cover;
}

.slide-title{

  margin-bottom: 10px;
}

.slide-txt{
  margin-top: 0;
  font-weight: normal;
}

/*follow*/

.follow a {
  padding: 10px 28px;
  color: #45A036;
  margin-left: 27px;
  border: 3px solid #45A036;
  border-radius: 5px;
  display: inline-block;
}

.follow a:hover {
  background-color: #45A036;
  color: white;
}

.follow a::before {
  content: "ï";
  padding-right: 16px;
}



/*mv*/

.mv {
  text-align: center;
  margin-bottom: 59px;
}

/*新着プレスリリース、コラム*/

.news {
  margin-bottom: 71px;
}

.new::before{
content:url(img/新着プレスリリース.png) ;
padding-right: 16px;

}

.news-list {
  padding: 0;
}

.news-item {
  border-top: 1px solid #707070;
  padding: 19px;
}

.img-txt{
  flex-direction: column
}

.news-item:last-child {
  border-bottom: 1px solid #707070;
}

.news-item a {
  display: flex;
}

/*採用情報*/

.coffee {
  margin: 0;
}

/*会社情報*/

.company-title {
  margin-bottom: 39px;
}

.company {
  display: flex;
  justify-content: space-between;
}

.company-data{
  width: 50%;
}

.map{
  width: 50%;
}